*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

.container-gallery {
   background: url('..//../assets/banner-bat.jpg');
   
}

.title {
   height: 150px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.title h1 {
   color: #fff;
   font-weight: 500;
   margin-top: 0px;
   text-align: center;
   transition: 5s;
   
}

.gallery-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   gap: 2vw;
   padding: 0 1vw;
}

.gallery-items {
   width: 340px;
   height: 340px;
   border: 4px solid #fff;
   box-shadow: 5px 5px 5px #000;
   border-radius: 5px;
   flex-grow: 1;
   transition: transform 0.3s linear;
}

.gallery-items img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.gallery-items:hover {
   transform: scale(1.05);
}

.footer {
   height: 150px;
}
